<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AC Control</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Manual Air Freshener</h1>
    </div>

    <div class="container">
        <h3>System Status: {{ status }}</h3>
    </div>

{#    <div class="container">#}
        <h3>Spray once and run fan for 15 minutes</h3>
        <button class="button-large spray_air_freshener">Spray</button>
{#    </div>#}
{#    <div class="container">#}
        <h3>Start automatic spray system</h3>
        <button class="button-large start_main_loop">Start</button>
{#    </div>#}
{#    <div class="container">#}
        <h3>Stop automatic spray system</h3>
        <button class="button-large stop_main_loop">Stop</button>
{#    </div>#}
    
    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" async defer></script>
    <script src="{{ url_for('static', filename='index.js')}}" async defer></script>
  </body>
</html>